<%include ../public/partials/header%>

<div id="simpleModal" class="modall container container-fluid">
	<div class="modall-content container-fluid">
		<div class="model-header container-fluid">
			<span class="closeBtn">&times;</span>
			<h2>
				Welcome to THE GREAT COLOR RGB GAME
			</h2>
		</div>
		<div class="model-body">
			<h4>
			  Instructions:
			</h4>
			<p> Match the color of the square with the RGB CODE above and thats it! You have three tries! GOOD LUCK and HAVE FUN! </p>
			<ul>
				<li>
					EASY
					<ul>
						<li>
							<p>
								Easy Mode contains 3 Squares. Choose the Square that matches the RGB code above. You will have no problem winning this game.
							</p>
						</li>
					</ul>
				</li>
				<li>
					HARD
					<ul>
						<li>Hard Mode contains 6 Squares. Choose the Square that matches the RGB code above. This mode's difficulty is a bit more challenging then easy but still tough enough to offer some feeling accomplishment.</li>
					</ul>
				</li>
				<li>
					F. ALL
					<ul>
						<li> 
							<p>
								F. All contains 50 whopping squares. This challenge is legendary, only the feintest of hearts will give up. But not you, your a challenger and challengers never give up!!!
							</p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="model-footer">
			
			<h3>
				Created by Floki
			</h3>
		</div>
	</div>
</div>

<h1>
	THE GREAT 
	<br>
	<span id="colorDisplay">RGB</span>
	<br>
	COLOR Game
</h1>
<div class="row text-center"  id="stripe">
	<button id="modalBtn" class=" gamebtn button">How to Play</button>
	<button class="gamebtn" id="reset">NEW COLORS</button>
	<span id="message"></span>
	<button class="mode gamebtn">EASY</button>
	<button class="mode selected gamebtn">HARD</button>
	<button class="mode gamebtn">F. ALL</button>
	
	<div style="display:flex; flex-wrap: wrap; margin:auto; position:relative;">
    <audio id ="audio"  controls autoplay loop volume="1" id="audio-example-low" style="width:20;">
       <source src="../sounds/Oneohkay - i cried during a miyazaki film once [Electronic].mp3" autoplay loop>This browser does not support the audio tag
    </audio>
</div>
</div>
<!--below game -->
<div id = "container">
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
	<div class="square">
		
	</div>
</div>




<%include ../public/partials/footer%>