<%include ../public/partials/header%>

<button id="modalBtn" class="button">Click Here</button>	

<div id="simpleModal" class="modall">
	<div class="modall-content">
		<span class="closeBtn">&times;</span>
		<p>
			This is the game with instructions, please do not over thhinky poopy
		</p>
	</div>
</div>


<%include ../public/partials/footer%>