<!DOCTYPE html>
<html>
	<header>
		<title>My Game</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script type ="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
		<link rel="stylesheet" href="../assets/stylesheets/app2.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</header>
		<body>
			